.widget_header{
    background:$blue;
    color:$off-white;
    padding: $m-size;
    display: flex;
    justify-content: space-between;
}

.widget_header h3{
    margin: 0;
}

.widget{
    background: $light-blue;
    margin-top: 10px;
    margin-bottom:20px;
}
.widget-message{
    text-align: center;
    color: $off-white;
    margin: 0;
    padding: $l-size;
    border-bottom: 1px solid lighten($light-blue,10%);
}